aiofile==3.5.0
aiofiles==0.7.0
aiojobs==0.3.0
aiolog==0.1.0
aiopath==0.5.7
aiorun==2020.12.1
aiorwlock==1.0.0
aiotools==1.2.1
alabaster==0.7.12
anyio==3.1.0
appdirs==1.4.4
appnope==0.1.2
aria2p==0.10.4
asciimatics==1.13.0
asgiref==3.4.1
asn1crypto==1.4.0
asttokens==2.0.5
async-generator==1.10
async-timeout==3.0.1
asyncio-pool==0.5.2
attrs==21.2.0
Babel==2.9.0
backcall==0.2.0
beautifulsoup4==4.9.3
black==21.5b1
blinker==1.4
Brotli==1.0.9
browsermob-proxy==0.8.0
bs4==0.0.1
caio==0.8.0
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
cheap-repr==0.4.5
click==8.0.1
codetiming==1.3.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==3.4.7
cssselect==1.1.0
Cython==0.29.21
decorator==4.4.2
demjson==2.2.4
docutils==0.16
entrypoints==0.3
executing==0.6.0
fake-useragent==0.1.11
filelock==3.0.12
Flask==2.0.1
future==0.18.2
h11==0.12.0
h2==4.0.0
heartrate==0.2.1
hpack==4.0.0
httpcore==0.13.3
httpx==0.18.2
humanfriendly==9.1
hyperframe==6.0.1
idna==2.10
ifcfg==0.21
imagesize==1.2.0
iniconfig==1.1.1
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
iso8601==0.1.13
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jupyter-client==6.1.11
jupyter-core==4.7.1
kaitaistruct==0.9
ldap3==2.9
loguru==0.5.3
lxml==4.6.2
m3u8==0.8.0
MarkupSafe==2.0.1
mccabe==0.6.1
mpegdash==0.2.0
msgpack==1.0.2
multidict==5.1.0
mypy-extensions==0.4.3
natsort==7.1.0
netifaces==0.11.0
numpy==1.22.0.dev0+403.gdf9c973f2
outcome==1.1.0
packaging==20.9
pandas==1.4.0.dev0+195.g033314396b
parse==1.19.0
parso==0.8.1
passlib==1.7.4
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.0
pluggy==0.13.1
prompt-toolkit==3.0.16
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-python-adb==0.3.0.dev0
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pydub==0.24.1
pyee==8.1.0
pyfiglet==0.8.post1
pyflakes==2.1.1
Pygments==2.7.4
pyls==0.1.6
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pyppeteer==0.2.5
pyquery==1.4.3
pyre2==0.3.3
pyroute2.core==0.6.4
pyroute2.ethtool==0.6.4
pyroute2.ipdb==0.6.4
pyroute2.ipset==0.6.4
pyroute2.ndb==0.6.4
pyroute2.nftables==0.6.4
pyroute2.nslink==0.6.4
PySimpleGUI==4.35.0
PySocks==1.7.1
python-dateutil==2.8.1
python-json-logger==2.0.1
python-rclone==0.0.2
python-systemd==0.0.9
pytz==2020.5
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
requests-html==0.10.0
-e git+https://github.com/python-hyper/rfc3986.git@d8af43866e0c0a843df0f9429b9e84dc150c3fbf#egg=rfc3986
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
scapy==2.4.5rc1
selenium==3.141.0
Send2Trash==1.7.0a0
six==1.16.0
sniffio==1.2.0
snoop==0.3.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
soupsieve==2.1
Sphinx==1.7.9
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
tabulate==0.8.9
tldextract==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
trio==0.19.0
trio-websocket==0.9.2
typing-extensions==3.10.0.0
urllib3==1.26.4
urwid==2.1.2
user-agent==0.1.9
uvloop==0.15.2
w3lib==1.22.0
wcwidth==0.2.5
webdriver-manager==3.3.0
websocket-client==1.1.0
websockets==8.1
Werkzeug==2.0.1
wsproto==1.0.0
yarl==1.6.3
youtube-dl @ file:///Users/antoniotorres/Projects/youtube-dl
zstandard==0.15.2
